services:
  ngx-ldap-path2ldap-auth:
    build:
      context: .
    container_name: ngx-ldap-path2ldap-auth
    image: ghcr.io/hyper-w/ngx-ldap-path2ldap-auth:latest
    volumes:
      - type: bind
        source: ./example/ngx-ldap-path2ldap-auth.conf # For TCP Socket
        # source: ./example/ngx-ldap-path2ldap-auth_unix.conf # For Unix Socket
        target: /ngx-ldap-path2ldap-auth_conf/ngx-ldap-path2ldap-auth.conf
        read_only: true
      # - type: volume
      #   source: ngx-ldap-path2ldap-auth-socket
      #   target: /run

# volumes:
#   ngx-ldap-path2ldap-auth-socket:
#     name: ngx-ldap-path2ldap-auth-socket
#     driver: local
#     driver_opts:
#       type: tmpfs
#       device: tmpfs